
<h1><%= t(:listing_orders) %></h1>

<table class="index" id="listing_orders" data-hook>
  <thead>
    <tr>
      <th>completed_at</th>      
      <th>number</th>
      <th>state</th>
      <th>payment_state</th>
      <th>shipment_state</th>
      <th>total</th>
    </tr>
  </thead>
  <tbody>
  <% @orders.each do |order| %>
    <tr>
      <td><%= order.completed_at%></td>
      <td><%= link_to order.number, admin_order_path(order) %></td>
      <td><%= order.state.downcase %></td>
      <td><%= order.payment_state %></td>
      <td><%= order.shipment_state %></td>
      <td><%= number_to_currency order.total %></td>
    </tr>
  <% end %>
  </tbody>
</table>
