
<h3>Product Overview</h3>


Backorder allowed: <%=Spree::Config[:allow_backorders].to_s%>
<table class="index">
  <thead>
    <tr>
      <th>Product Name</th>
      <th>SKU</th>
      <th>Total sold</th>
      <th>shipped</tn>
      <th>backordered</th>
      <th>waiting for shipment</th>
      <th>Stock</th>
      <th>On Hand</th>
      <th>Backorder Amount Limit</th>
      <th>Expected Warehouse Stock</th>
    </tr>
  </thead>
  <tbody>
    <% @stats.each_pair do |variant_id, value| %>
      <tr>
        <td><%= value["variant"].name_with_options_text%></td>
        <td><%= value["variant"].sku%></td>
        <td><%=value["total"]%></td>
        <td><%=value["shipped"]%></td>
        <td><%=value["backordered"]%></td>
        <td><%=value["sold"]%></td>        
        <td>
          <% if !value["puchase"] %>
            Out of Stock
          <% elsif value["variant"].on_hand <= 0 %>
            Backordered
          <% else %>
            In Stock
          <% end %>
        </td>
        <td><%=value["variant"].on_hand.to_s %></td>
        <td><%=value["allow_backorder"].to_s %></td>
        <td><font color="gold"><%=value["sold"] +  value["variant"].on_hand.abs %></font></td>
      </tr>
    <% end %>
  </tbody>
 </table>
