
<h3>Sales Overview</h3>

<%= render :partial => 'date_range_form' %>

<br />
<br />
<br />
<br />

<h4>Total Orders: <%=@total_orders%></h4>
<h4>Total Revenue: <%=@revenue_total%></h4>
<h4>Average Revenue per Day: <%=@average_revenue%></h4>
<h4>Net Revenue: <%=@revenue_total - @total_cost%></h4>
<h4>Average Net Revenue per Day: <%=@average_net_revenue%></h4>

<table class="index">
  <thead>
    <tr>
      <th>Date</th>
      <th>Total Orders</th>
      <th>Total Products</th>
      <th>Total Revenue</th>
      <th>Total Shipping Revenue</tn>
      <th>Total Cost</tn>
      <th>Net Revenue</tn>
    </tr>
  </thead>
  <tbody>
    <% @sales.each do |sale| %>
      <tr>
      <td><%= sale.date %></td>
      <td><%= sale.orders.size %></td>
      <td><%= sale.product_total %></td>
      <td><%= sale.total_revenue %></td>
      <td><%= (sale.total_revenue - sale.item_total_revenue).round(2) %></td>
      <td><%= sale.cost.round(2) %></td>
      <td><%= (sale.total_revenue - sale.cost).round(2) %></td>
      </tr>
    <% end %>
  </tbody>
 </table>


<br />
<br />
<h4>Total Payments: <%=@payment_total%></h4>
<table class="index">
  <thead>
    <tr>
      <th>Payment Method</th>
      <th>Transactions Number</th>
      <th>Transactions Number Percentage</th>
      <th>Revenue</th>
      <th>Revenue Number Percentage</th>
      
    </tr>
  </thead>
  <tbody>
    <% @payment_menthod_hash.each_pair do |method, amount| %>
      <% if amount > 0 && !method.include?("Revenue") %>
        <tr>
        <td><%=method %></td>
        <td><%=amount %></td>
        <td><%=(amount * 1.0 / @payment_total).round(2) * 100 %>%</td>
        <td><%=@payment_menthod_hash["#{method} Revenue"] %></td>
        <td><%=(@payment_menthod_hash["#{method} Revenue"] * 1.0 / @revenue_total).round(2) * 100 %>%</td>        
        </tr>
      <% end %>
    <% end %>
  </tbody>
 </table>


<br />
<br />
<h4>Total Products: <%=@total_products%></h4>
<table class="index" width="50%">
  <thead>
    <th>Id</th>
    <th>Product</th>
    <th>Total Quantity</th>    
    <th>Revenue</th>
    <th>FOB</th>
    <th>Total Cost</th>        
  </thead>
  <tbody>
    <% @sales_products_sorted_array.each do |key_array| %>
      <% key = key_array[0];
         value = @sales_products[key]%>
      <tr>
      <td><%=key%></td>
        <td><%=Spree::Variant.find(key).name_with_options_text%></td>        
        <td><%=value[:quantity]%></td> 
        <td><%=value[:revenue].to_f.round(2)%></td>
        <td><%=(Spree::Variant.find(key).product.get_fob * value[:quantity]).round(2)%></td>
        <td><%=(Spree::Variant.find(key).product.got_total_cost * value[:quantity]).round(2)%></td>
      </tr>     
    <% end %>
  </tbody>
</table>
