
<h3>Pending Orders</h3>

<table class="index">
  <thead>
    <tr>
      <th>Order Number</th>
      <th>Completed at</th>
      <th>Payment State</th>
      <th>Shipments State</th>
      <th>Total</th>
    </tr>
  </thead>
  <tbody>
    <% @orders.each do |o| %>
      <tr>
        <td><%= link_to o.number, admin_order_path(o) %></td>
        <td><%=o.completed_at%></td>
        <td><%=o.payment_state%></td>
        <td><%=o.shipment_state%></td>
        <td><%=o.total%></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br />
<br />
<br />

<h3>Export Available Shipping Info</h3>
<!-- <%= link_to "Preview & export", "/admin/dashboard/shipmentmg/preview" %><br /><br /> -->
Preview & export<br /><br />
Upload Manifest

<br />
<br />
<br />
<h3>Sales Reports</h3>
<%= link_to "Export to CSV", "/admin/dashboard/ordermg/export_to_csv" %><br /><br />

<br />
<br />
<br />
<h3>Product Stock Level</h3>

Backorder allowed: <%=Spree::Config[:allow_backorders].to_s%>
<table class="index">
  <thead>
    <tr>
      <th>Product Name</th>
      <th>Stock</th>
      <th>On Hand</th>
      <th>Backorder Amount Limit</th>
    </tr>
  </thead>
  <tbody>
    <% @products.each do |p| %>
      <tr>
        <td><%= link_to p.name, admin_product_path(p) %></td>
        <td>
          <% if !p.purchasable? %>
            Out of Stock
          <% elsif p.on_hand <= 0 %>
            Backordered
          <% else %>
            In Stock
          <% end %>
        </td>
        <td><%=p.on_hand.to_s %></td>
        <td><%=p.amount_allow_backordered.to_s %></td>
      </tr>
    <% end %>
  </tbody>
 </table>
